.wrapper{
	width: 1000px;
	margin: 0 auto;
}
nav{
	background: black;
	margin-top: 20px;
	text-align: center;
	border-radius: 5px;
	margin-top: 20px;
	background: linear-gradient(#cc0044, #ff4d88, #cc0044);
}

nav ul{
	list-style: none;
}

nav ul li{
	display: inline;
}

nav ul li a{
	color: black;
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 60px;
	margin-right: 60px;
	display: inline-block; 
}

nav ul li a:hover{
	background: red;
}

div.intro { 
	width:900px;
	
 }

div.intro div.introimage {
	width: 900px;
	margin-top: 20px;
}

div.quote {
    float: left;
    background: linear-gradient(#b3b3cc, #8585ad, #5c5c8a, #8585ad, #b3b3cc);
    border-collapse: 10px;
}

div.quote h3, div.quote h2{
    font-family: cursive;
    margin-bottom: 10px;
    margin-top: 10px;
}

div.quote i{
	float: left;
}

div.quote p {
    font-family: cursive;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 60px;
    font-size: 20px;
}

div.quote form {
	margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 60px;

}

div.quote input{
	margin-bottom: 10px;

}